<div class="weather-card">
    <div class="search-bar">
      <input type="text" placeholder="Search location" [(ngModel)]="city" (keydown.enter)="onEnterPress()">
      <button class="search-icon" (click)="searchWeather()">🔍</button>
    </div>
    <div class="weather-info">
      <div class="temperature">{{weatherDetailsTemp}}</div>
      <!-- <div class="weather-icon">{{weatherDetailsIcon}}</div> -->
      <div class="weather-description">{{weatherDetailsDescription}}</div>
      <div class="location">{{weatherDetailsName}} {{weatherDetailsCountry}}</div>
    </div>
  </div>