<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-facebook" href="https://www.facebook.com/?locale=el_GRç" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a class="btn btn-twitter" href="https://x.com/?lang=el" role="button"><i class="fab fa-twitter"></i></a>
        <!-- Google -->
        <a class="btn btn-google" href="https://www.google.gr/?hl=el" role="button"><i class="fab fa-google"></i></a>
        <!-- Instagram -->
        <a class="btn btn-instagram" href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-linkedin" href="https://www.linkedin.com/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-github" href="https://github.com/" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      © 2024 Copyrights:
      <a class="text-body" href="https://www.accenture.com/gr-en">Accenture.com</a>
    </div>
    <!-- Copyright -->
</footer>
