.btn {
    margin: 0 0.5rem; // Adds horizontal margin between buttons
    
    &.btn-linkedin {
        background-color: #0082ca;
        color: #fff;
    }
    &.btn-github {
        background-color: #333333;
        color: #fff;
    }
}

.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.05);
}

.text-center {
    text-align: center;
}

.p-4 {
    padding: 1.5rem;
}

.pb-0 {
    padding-bottom: 0;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-body {
    color: rgba(0, 0, 0, 0.5);
}
