<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn btn-linkedin" href="https://www.linkedin.com/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-github" href="https://github.com/AngelosOsafi/WeatherApp" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      © 2024 Copyrights:
      <a class="text-body" href="https://www.accenture.com/gr-en">Accenture Greece</a>
    </div>
    <!-- Copyright -->
</footer>
